body {
    padding: 0;
    margin: 0;
}

#board {
    background-color: rgb(6, 124, 85);
    height: 100vh;
}

.player {
    background-color: azure;
    position: absolute;
}

.obstacle {
    background-color: rgb(255, 71, 39);
    position: absolute;
}